---
import { changeLanguage } from "i18next";
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";

changeLanguage("en");
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <p class="text-3xl w-full font-bold mb-5">Projects</p>
  </div>
  <HorizontalCard
    id="instagram-clone2.0"
    title="Instagram Clone 2.0"
    img="/instagram-clone2.png"
    desc="The project implements authorization, a feed, creating posts, adding comments and likes, editing a profile, searching for other users"
    url="https://instagram-clone-frontend-blush.vercel.app"
    badge="NEW"
    tags={["React", "Tailwind", "Typescript", "Node.js", "Redux"]}
    codeLink="https://github.com/bmark210/instagram-clone-frontend"
    bdCodeLink="https://github.com/bmark210/instagram-server"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    id="instagram-clone"
    title="Instagram Clone"
    img="/instagram-clone1.png"
    desc="The project implements authorization, a feed, creating posts and editing a profile"
    tags={["React", "Tailwind", "Firebase", "Zustand"]}
    url="https://instagram-clone-e904f.web.app"
    codeLink="https://github.com/bmark210/instagram-clone"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    id="mini-store"
    title="Mini-store"
    img="/mini-store.png"
    desc="The project implemented adding goods to the cart and simulating an order and searching for goods"
    tags={["React", "SCSS"]}
    url="https://mini-store2-0.vercel.app"
    codeLink="https://github.com/bmark210/mini-store2.0"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    id="disney clone"
    title="Disney+ clone"
    img="/disney-clone.png"
    desc="The project is based on a tutorial. The project implements authorization and feed."
    tags={["React", "Styled components", "Firebase", "Redux"]}
    url="https://disney-plus-clone-orpin-six.vercel.app"
    codeLink="https://github.com/bmark210/disney-plus-clone"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    id="disney clone"
    title="John's SV"
    img="/Josh-sv.png"
    desc="The project is mostly a layout of the Figma layout with an adaptive design."
    tags={["React", "SCSS"]}
    url="https://react-test-app-eta.vercel.app"
    codeLink="https://github.com/bmark210/Josh-SV"
  />
</BaseLayout>
